body{
    padding-top: 200px;
    /* margin: 700px; */
    /* padding-left: 55%;  */
} 


h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
/* .container{
    margin-top: 60px;
    position: relative;
} */
.container{
     /* border-radius: 1px,red;
    background: transparent;  */
    /* border-style: double; */
    background-image: linear-gradient();
    box-shadow: 0 0 60px rgb(53, 178, 228);
    /* background: rgba(7, 135, 232, 0.5); */
    /* border: red; */
    width: 500px;
    height: 400px;
    /* padding-top: 250px; */

}

#aa {
    color: rgb(244, 244, 129);
    background-color: transparent;
    text-decoration: none;
  }

  .btn {
    box-shadow: 0 8px 16px 0 rgba(203, 171, 171, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* background-color: rgb(21, 200, 249);
    color: black; */
}